/* Variables */

:root {
  --Basic-background: #F1F5F7;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-red: #EE3643;
  --green-: #63A63E;
  --extra-dark-blue: #293449;
  --dark-blue: #32425C;
  --Special-yellow: #FFBF47;
  --light-blue: #3BBCE3;
  --violet: #DC91D8;
  --light-green: #8ED78F;
  --light-grey: #A9A9A9;
  --antracit: #32425C;
  --social-network-background: #212A3A;
  --light-orange-for-headers-in-footer: #FFD180;
  --light-orange-catalog: #F7F3EC;
  --beige: #E5E5E5;
  --linear-gradient: 0deg, #212A3A, #212A3A;
  --header-button-background: rgba(0, 0, 0, 0.0001);
  --light-beige: #F9F5F0;
  --grey-background: #B7BFC8;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: #F1F5F7;
  grid-template-rows: 42px 1fr min-content;
  align-content: start;
  margin-bottom: 59px;

}

.main-header-catalog {
  background-color: #F1F5F7;
  grid-template-rows: 42px 1fr min-content;
  align-content: start;
}

h1 {
  display: none;
  margin: 0;
  padding: 0;
}

.highest-panel {
  align-items: center;
  background-color: #293449;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  padding: 0;
  align-content: center;
  box-sizing: border-box;
  margin: 0;
  height: 42px;

}


.highest-panel-search-field input {
  width: 100%;
  border: none;
  height: 100%;
  background-color: #293449;
  cursor: pointer;
  padding: 5px 5px 5px 42px;
  box-sizing: border-box;
  outline: 0px transparent;
  color: #293449;
}

.search-input:focus {
  background-color: white;
  color: black;
}

.search-input:focus~.search-label {
  display: none;
}

.search-input:focus+svg path {
  fill: red;
}

.highest-panel-search-field:hover+svg {
  opacity: 1;
}

.search-label {
  color: white;
  position: absolute;
  left: 42px;
  top: 9px;

}

.highest-panel-logo {
  margin: 0;
  width: 220px;
  display: block;
  height: 47px;
  background-color: #EE3643;
  position: relative;
  box-shadow: inset 0px -5px 0px rgb(0 0 0 / 24%);
  cursor: pointer;

}


.technomart-logo {
  position: absolute;
  left: 56px;
  top: 17px;

}

.highest-panel-search-field {
  margin: 0;
  width: 271px;
  display: block;
  position: relative;
  height: 42px;


}

.upper-header-wrapper {
  width: 100%;
  background-color: #293449;
  height: 42px;
}

.highest-panel-search-field svg {
  left: 17px;
  top: 12px;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
}

.bookmark-icon,
.basket-icon {
  opacity: 0.3;
  position: absolute;
  background-color: transparent;
}

.bookmark,
.basket {
  display: block;
  box-sizing: border-box;
  flex-grow: 1;

}

.bookmark-icon {
  left: 20px;
  top: 13px;
}

.basket-icon {
  top: 12px;
  left: 24px;
}

.person-fields {
  display: flex;
  justify-content: space-around;
  margin: 0;
  vertical-align: middle;
  height: 100%;
  align-items: center;
  cursor: pointer;
  padding: 0;
  width: 301px;
}

.person-fields li {
  list-style: none;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: var(--basic-white);
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  position: relative;

}

.header-link {
  color: white;
}

.bookmark .header-link {
  margin-left: 16px;
}

.basket .header-link {
  margin-right: -20px;
}

.person-fields-wrapper {
  height: 42px;
}

.person-fields-wrapper:hover svg {
  opacity: 1;
}

.person-fields-wrapper:focus {
  background-color: #161D29;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.3;
}

.person-fields-wrapper:focus .header-link {
  color: rgba(255, 255, 255, 0.5);
}

.person-fields-wrapper-basket {
  height: 42px;
  background-color: #EE3643;
  width: 81px;
}

.basket {
  width: 97px;
}

.person-fields-wrapper-basket:hover svg {
  opacity: 1;
}

.person-fields-wrapper-basket:focus {
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.3;
}

.person-fields-wrapper-basket:focus .header-link {
  color: rgba(255, 255, 255, 0.5);
}

.highest-panel-buy-button {
  width: 150px;
  font-family: Cuprum, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 auto;
  cursor: pointer;
}

.header-central-field {
  margin-top: 44px;
  margin-bottom: 40px;
  display: flex;
  padding-left: 30px;
  justify-content: space-between;
  display: flex;
  width: 940px;
  align-content: center;
  box-sizing: border-box;
}

.checkout {
  display: block;
  background-color: #63A63E;
  width: 150px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  color: white;
  letter-spacing: -1px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  letter-spacing: 0.2px;

}

.checkout:focus {
  background-color: #63A63E;
  color: rgba(255, 255, 255, 0.5);
}

.header-thesis {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #EE3643;
  width: 203px;
  box-sizing: border-box;
  letter-spacing: 0.64px;
}

.header-phone-and-address {
  padding: 0;
  width: 270px;
  /* margin: 0 auto; */
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 37px;
}

.header-phone-number {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #EE3643;
  border: 3px solid #FFFFFF;
  background: #F3F7F9;
  padding: 7px 49px 8px 72px;

}

.icon-phone {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 40px;
  top: 15px;
  background-color: transparent;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425C;
}

.person-area-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 210px;
  height: 18px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  margin: 0;
  padding-left: 0;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}

.person-area-point {
  position: absolute;
  left: 80px;
  top: 6px;
  padding-left: 10px;
  padding-right: 10px;

}

.person-area-my-orders,
.person-area-cabinet {
  color: #32425C;
}

.person-area-my-orders {
  margin-right: 23px;
}

.header-logined-area {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;

}



.header-logined {
  min-width: 300px;
  min-height: 45px;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #000000;
  position: relative;
  padding-left: 56px;
  padding-top: 3px;
}

.person-icon,
.logout-icon {
  position: absolute;
}

.person-icon {
  left: 15px;
}

.logout-icon {
  right: 19px;
  top: 16px;
}

.person-area-my-orders:hover {
  color: #EE3643;
}

.person-area-cabinet:hover {
  color: #EE3643;
}

.person-area-my-orders:focus {
  color: #C5C5C5;
}

.person-area-cabinet:focus {
  color: #C5C5C5;
}



.header-logined:hover path {
  fill: #3D546F;
}

.header-logined:focus path {
  fill: #C5C5C5;
}

.header-logined:focus {
  color: #C5C5C5;
}


.header-logout:hover path {
  fill: #3D546F;
}

.header-logout:focus path {
  fill: #C5C5C5;
}

.header-logout:focus {
  color: #C5C5C5;
}


.header-person-blocks {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #FFFFFF;
  box-sizing: border-box;

}

.registration {
  margin-left: 10px;
}

.login {
  position: relative;
}


.icon-login {
  left: 17px;
  top: 12px;
  position: absolute;
  background-color: transparent;
  color: #C5C5C5;

}

.login:hover path {
  fill: #3D546F;

}

.search-icon path {
  opacity: 0.3;
}

.highest-panel-search-field:hover path {
  opacity: 1;

}

.login:focus path {
  fill: #C5C5C5;
}

.login:hover {
  background-color: rgba(0, 0, 0, 0.0001);
  color: #EE3643;
}

.registration:hover {
  background-color: rgba(0, 0, 0, 0.0001);
  color: #EE3643;
}

.login:focus {
  background-color: rgba(0, 0, 0, 0.0001);
  color: #C5C5C5;

}

.registration:focus {
  background-color: rgba(0, 0, 0, 0.0001);
  color: #C5C5C5;

}

.header-login-buttons {
  display: flex;
  align-items: flex-start;
  cursor: pointer;

}

.header-navigation {
  background: #32425C;
  padding-left: 23px;
  padding-right: 23px;
  display: flex;
  margin: 0 0;
  /* padding: 0; */
  align-content: center;
  box-sizing: border-box;
  list-style: none;
  box-shadow: inset 0px -5px 0px #293449;
  height: 60px;
}

.header-navigation-grid {
  display: grid;
  padding-bottom: 60px;
  max-width: 940px;
}

div .header-person-blocks:nth-child(1) {
  padding-left: 45px;
  padding-right: 27px;
}

.header-navigation-element {
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  display: block;
  width: 100%;
  text-align: center;
  height: 100%;
}

.header-navigation-item {
  display: block;
  cursor: pointer;
  flex-grow: 1;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-navigation-item:hover {
  background-color: #293449;
  box-shadow: inset 0px -5px 0px #293449;
  box-sizing: border-box;
}

.header-navigation-element:focus {
  background-color: #293449;
  box-shadow: inset 0px -5px 0px #293449;
  opacity: 0.5;
}

.bread-crumbs-row {
  display: flex;
  margin: 0 0;
  justify-content: flex-start;
  align-content: center;
  box-sizing: border-box;
  list-style: none;
  height: 59px;
  font-family: "PT Sans", "Cuprum", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding: 0;
}

.bread-crumbs {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding-right: 41px;
}

.bread-crumbs-link {
  color: black;
}

.icon-right-small {
  position: absolute;
}

.icon-right-small-first {
  left: 30px;
  top: 23px;
}

.icon-right-small-second {
  left: 122px;
  top: 23px;
}

.icon-right-small-third {
  left: 243px;
  top: 23px;
}

.filter-row {
  max-width: 940px;
  min-height: 18px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: start;
}

.filter-heading {
  width: 211px;
  min-height: 28px;
  background-color: #F7F3EC;
  margin-right: 20px;
  padding-top: 10px;
  padding-left: 18px;

}

.sorting-row {
  background: #F7F3EC;
  display: flex;
  min-width: 700px;
  align-items: center;
  padding: 10px 14px 10px 20px;
  box-sizing: border-box;
}

.sorting {
  min-width: 110px;
  margin-right: 111px;
}

.filter-value-list {
  display: flex;
  height: 18px;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
  width: 355px;
  justify-content: space-between;
  margin-right: 46px;

}

/* .filter-value {min-width: 53px;} */

.filter-arrows {
  list-style: none;
  display: flex;
  background: #F7F3EC;
  height: 18px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}


.up-direction {
  transform: rotate(180deg);
  fill: #EE3643;
  margin-right: 21px;
  cursor: pointer;
}

.filter-button-price,
.filter-button-type,
.filter-button-function {
  text-decoration: none;
  opacity: 0.5;
  color: rgba(0, 0, 0, 1);
  border-bottom: dotted 2px red;
}

.filter-button-price {
  margin-right: 7px;
}

.filter-button-price:hover {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
  border-bottom: solid 2px red;
}

.filter-button-price:focus {
  opacity: 1;
  color: #EE3643;
  border-bottom: none;
}

.filter-button-type {
  margin-right: 7px;
}

.filter-button-type:hover {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
  border-bottom: solid 2px red;
}

.filter-button-type:focus {
  opacity: 1;
  color: #EE3643;
  border-bottom: none;
}

.filter-button-function {
  margin-right: 0px;
}

.filter-button-function:hover {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
  border-bottom: solid 2px red;
}

.filter-button-function:focus {
  opacity: 1;
  color: #EE3643;
  border-bottom: none;
}


.up-direction:hover path {
  fill: black;
}

.up-direction:focus path {
  fill: #EE3643;
}

.down-direction {
  /* margin-left: 21px; */
  cursor: pointer;
}

.down-direction:hover path {
  fill: black;
}

.down-direction:focus path {
  fill: #EE3643;
}

.filter-manufacturer-list,
.filter-power-list {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}

.filter-power-list {
  margin-bottom: 14px;
}

.filter-manufacturer-list ul,
.filter-power-list ul {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-checkbox-label {
  padding-left: 36px;
  z-index: 10;
  position: relative;
  cursor: pointer;
  display: block;
  overflow-wrap: break-word;
}

.filter-manufacturer-item {
  padding-bottom: 20px;
  position: relative;

}

.filter-manufacturer {
  margin-bottom: 17px;
}

.filter-power-item {
  padding-bottom: 23px;
  position: relative;
}

.filter-power {
  margin-bottom: 23px;
}

input[type="checkbox"] {
  background-color: red;
}


.filter-manufacturer,
.filter-power {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter-button {
  width: 220px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-grid-column {
  width: 220px;
  margin-top: 14px;
}

.filter-heading-range {
  margin-bottom: 11px;
  margin-top: 14px;
}

.chekbox-off-icon {
  position: absolute;
  bottom: 18px;
  left: 0px;
}

.filter-checkbox-label:hover~svg path {
  fill: #B5B5B5;
}

.filter-checkbox-label:focus~svg path {
  fill: #B5B5B5;
  opacity: 0.5;
}

.chekbox-on-icon {
  position: absolute;
  bottom: 18px;
  visibility: hidden;
  left: 0px;
}

.filter-checkbox-input {
  position: absolute;
  height: 0px;
  width: 0px;
}

.filter-checkbox-input:focus~label {
  outline: 2px solid black;
}

.filter-checkbox-input:checked~.chekbox-on-icon {
  visibility: visible;
}

.radio-on-icon {
  position: absolute;
  left: 0;
  bottom: 18px;
  visibility: hidden;
}

.radio-on-icon:hover path {
  fill: #B5B5B5;
}

.radio-off-icon {
  position: absolute;
  left: 0;
  bottom: 18px;
}

/* .radio-off-icon:hover path {
  fill:#B5B5B5 ;
  } */


.filter-radio-input {
  height: 0px;
  width: 0px;
  position: absolute;
}

.filter-radio-input:focus~label {
  outline: 1px solid black;
}

.filter-radio-label {
  padding-left: 36px;
  z-index: 10;
  position: relative;
  cursor: pointer;
  display: block;
  overflow-wrap: break-word;
}

.filter-radio-input:checked~.radio-on-icon {
  visibility: visible;
}

.filter-radio-label:hover~svg path {
  fill: #B5B5B5;
}

.filter-radio-input:disabled~svg path {
  fill: #B5B5B5;
  opacity: 0.5;
}

.filter-radio-input:disabled~.filter-radio-label {
  fill: #B5B5B5;
  opacity: 0.5;
}


.filter-checkbox-input:disabled~svg path {
  fill: #B5B5B5;
  opacity: 0.5;
}

.filter-checkbox-input:disabled~.filter-checkbox-label {
  fill: #B5B5B5;
  opacity: 0.5;
}



.heading-perf-row {
  background: #F1F5F7;
  padding: 29px 739px 30px 29px;
  max-width: 940px;
  max-height: 89px;
  font-size: 30px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: #32425C;
  margin-bottom: 20px;
}

.main-catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: flex-start;
  text-align: center;
  width: 940px;

}

.main-catalog-list-products {
  width: 220px;
  height: 318px;
  margin-right: 20px;
  margin-bottom: 70px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.perf-bfg-6000 {
  margin-top: 20px;
  margin-right: 13px;
  margin-bottom: 29px;
}

.perf-bfg-3000 {
  margin-bottom: 37px;
  margin-top: 28px;
  margin-right: 13px;
}

.perf-bfg-2000 {
  margin-bottom: 37px;
  margin-top: 28px;
  margin-right: 14px;
}

.main-catalog-list-products:nth-child(even)::before {
  content: "";
  background-image: url("../img/red-tape-new.png");
  background-repeat: no-repeat;
  color: #EE3643;
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 246px;
  right: 0px;
}

.main-catalog-list-products h5 {
  min-height: 43px;
  min-width: 185px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding-left: 17px;
  padding-right: 17px;
}

h5 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  padding-left: 17px;
  padding-right: 17px;
  min-height: 43px;
  min-width: 185px;
}

.BOSCH-BFG-9000 {
  padding: 0;
  margin: 0;
}

.BOSCH-BFG-3000,
.BOSCH-BFG-2000 {
  padding-top: 26px;

}

.BOSCH-BFG-6000 {
  padding-top: 18px;

}

del {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #A9A9A9;

}

.main-catalog-list-old-price {

  min-width: 172px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
  margin: 0;
  height: 18px;
  padding-top: 8px;

}

.main-catalog-button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #EE3643;
  Width: 141px;
  Height: 38px;
  border: none;
  margin-top: 13px;
  cursor: pointer;
  position: relative;
  padding-left: 32px;
  margin-left: 10px;
}

.main-catalog-button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 10px solid transparent;
  border-top: 10px solid white;
  border-right: 10px solid white;
}

.main-catalog-button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid white;
  border-right: 10px solid white;
}

.main-catalog-list-products:nth-child(4) {
  margin-right: 0;
}

.catalog-grid-column {
  margin-left: 20px;
  margin-top: 28px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  list-style: none;
  align-items: center;
  text-align: center;
}

.catalog-list h3 {
  min-width: 185px;
  min-height: 43px;
}

/* grid feutures */

.features-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  padding-bottom: 59px;
  width: 940px;
  gap: 20px;
}

.materials {
  background-color: #FFBF47;
  grid-row: 1/2;
  grid-column: 1/2;
}

.materials::before {
  content: "";
  background-image: url("../img/icon-paint-bucket.png");
  background-repeat: no-repeat;
  color: #EE3643;
  height: 65px;
  width: 44px;
  position: absolute;
  bottom: 27px;
  right: 43px;
}

.materials::after {
  content: "";
  background-image: url("../img/red-tape-new.png");
  background-repeat: no-repeat;
  color: #EE3643;
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 53px;
  right: 0px;
}

.instrument {
  background-color: #3BBCE3;
  grid-row: 1/2;
  grid-column: 2/3;
}

.instrument::before {
  content: "";
  background-image: url("../img/icon-perforator.png");
  background-repeat: no-repeat;
  color: #EE3643;
  height: 61px;
  width: 75px;
  position: absolute;
  top: 34px;
  right: 31px;
}

.techniks {
  background-color: #DC91D8;
  grid-row: 1/2;
  grid-column: 3/4;

}

.techniks::before {
  content: "";
  background-image: url("../img/icon-tractor.png");
  background-repeat: no-repeat;
  color: #EE3643;
  height: 62px;
  width: 78px;
  position: absolute;
  top: 31px;
  right: 31px;
}

.sales {
  background-color: #8ED78F;
  grid-row: 2/3;
  grid-column: 3/4;
}

.sales::before {
  content: "";
  background-image: url("../img/icon-cart.png");
  background-repeat: no-repeat;
  color: #EE3643;
  height: 72px;
  width: 59px;
  position: absolute;
  bottom: 25px;
  right: 45px;
}

.delivery-divide {
  background-color: #FFBF47;
  grid-row: 3/4;
  grid-column: 3/4;
}

.delivery-divide::before {
  content: "";
  background-image: url("../img/icon-delivery.png");
  background-repeat: no-repeat;
  color: #EE3643;
  height: 63px;
  width: 78px;
  position: absolute;
  bottom: 28px;
  right: 31px;
}

.popular-manufacturer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  list-style: none;
  box-sizing: border-box;
}

.popular-manufacturer-logo {
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  align-items: center;
  list-style: none;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  position: relative;
  background-color: transparent;
  cursor: pointer;
}

.popular-manufacturer-logo:hover {
  background-color: transparent;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}


.popular-manufacturer-logo a:focus {
  border: 1px solid #EAEAEA;
  opacity: 0.5;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.25);
  background-color: transparent;
}

/* .popular-manufacturer-list li a{ 
  width: 100%;
  height: 100%;
  display: block;

} */

.footer-logo-and-navigation-row a:hover {
  text-decoration: underline;
}

.footer-catalog-navigation a:hover {
  text-decoration: underline;
}

.footer-logo-and-navigation-row a:focus {
  opacity: 0.5;
  text-decoration: none;
}

.footer-catalog-navigation a:focus {
  opacity: 0.5;
  text-decoration: none;
}


.popular-manufacturer-logo img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 1;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.popular-manufacturer-logo:nth-child(4n) {
  margin-right: 0;
}


.catalog-divide {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  justify-content: flex-start;
  color: #FFFFFF;
  flex-direction: column;
  padding-left: 23px;
  padding-top: 20px;
  position: relative;

}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.catalog-divide-button {
  background-color: transparent;
  mix-blend-mode: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  Width: 135px;
  height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  justify-content: center;
  border: none;
  cursor: pointer;
}



.red-button {
  font-size: 14px;
  font-family: Cuprum;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: var(--basic-red);
  width: 192px;
  height: 38px;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.red-button:hover {
  background-color: #CA2C37;

}

.red-button:focus {
  background-color: #BA2732;

}


.heading {
  font-size: 30px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: #32425C;
  margin: 0;
}

h2.heading {
  margin-bottom: 25px;
}

.popular-sales,
.popular-manufacturer {
  background-color: #F9F5F0;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding-right: 14px;
  padding-left: 28px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  margin-bottom: 26px;
}

.catalog-list-products {
  width: 220px;
  height: 318px;
  margin-right: 20px;
  margin-bottom: 18px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}


.catalog-list-products:nth-child(3n)::before {
  content: "";
  background-image: url("../img/red-tape-new.png");
  background-repeat: no-repeat;
  color: #EE3643;
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 246px;
  right: 0px;
}

.catalog-list-products:nth-child(4)::before {
  content: "";
  background-image: url("../img/red-tape-new.png");
  background-repeat: no-repeat;
  color: #EE3643;
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 246px;
  right: 0px;
}

.catalog-list-products:nth-child(7)::before {
  content: "";
  background-image: url("../img/red-tape-new.png");
  background-repeat: no-repeat;
  color: #EE3643;
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 246px;
  right: 0px;
}

.catalog-list-products:nth-child(3n) {
  margin-right: 0;
}

.catalog-list-products:hover {
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

.old-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
}

.catalog-button {
  background-color: #EE3643;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 21px;
  margin-left: 45px;
  margin-right: 34px;
  padding: 10px 44px 10px 32px;
  cursor: pointer;

}

.old-price {
  width: 172px;
  height: 18px;
  margin: 7px 24px 7px 13px;
  padding: 0;
}


.text-information {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0;

}

.services-list {
  padding-left: 22px;
  padding-top: 1px;
  width: 240px;
  height: 61px;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;

}

.services {
  background-color: #F1F5F7;
  padding: 0px;
  height: 522px;

}

.servises-field {
  padding-top: 64px;
  margin-bottom: 67px;
}

.featers-list {
  list-style: none;
  padding: 0;
  position: relative;

}

.featers-list::after {
  content: "";
  background-image: url("../img/features-shadow.png");
  background-repeat: no-repeat;
  height: 279px;
  width: 10px;
  position: absolute;
  bottom: 0px;
  left: 230px;

}

.featers-list-item {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.feature-delivery-label,
.feature-garantie-label,
.feature-credit-label {
  display: block;
  Width: 240px;
  Height: 61px;
  cursor: pointer;
  background: #32425C;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #FFFFFF;
  box-sizing: border-box;
  padding-left: 22px;
  padding-top: 14px;
}

.feature-delivery-label:hover,
.feature-garantie-label:hover,
.feature-credit-label:hover {
  background: #293449;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.feature-delivery-label {
  box-shadow: none;
}

.feature-credit-label {
  box-shadow: none;
}

.feature-delivery-radio,
.feature-garantie-radio,
.feature-credit-radio {
  visibility: hidden;
  position: absolute;
}

.features-inputs-block {
  position: relative;
  display: flex;
}

.feature-delivery-radio:checked~.featers-list .feature-delivery-label {
  background-color: white;
  color: #32425C;
  box-shadow: 0px 1px 0px #FFFFFF;
}

.feature-garantie-radio:checked~.featers-list .feature-garantie-label {
  background-color: white;
  color: #32425C;
  box-shadow: 0px 1px 0px #FFFFFF;
}

.feature-credit-radio:checked~.featers-list .feature-credit-label {
  background-color: white;
  color: #32425C;
  box-shadow: 0px 1px 0px #FFFFFF;
}


.delivery-right-field,
.credit-right-field,
.garantie-right-field {
  padding-left: 80px;
  padding-right: 340px;
  background-image: url("../img/delivery-truck.png");
  background-position: right top 20px;
  background-repeat: no-repeat;
  min-height: 260px;
}

.heading-position {
  margin-bottom: 30px;
}

.feature-delivery-radio:checked~.garantie-right-field,
.feature-delivery-radio:checked~.credit-right-field {
  display: none;
}

.feature-delivery-radio:checked~.delivery-right-field {
  display: block;
}



.feature-credit-radio:checked~.garantie-right-field,
.feature-credit-radio:checked~.delivery-right-field {
  display: none;
}

.feature-credit-radio:checked~.credit-right-field {
  display: block;
}



.feature-garantie-radio:checked~.credit-right-field,
.feature-garantie-radio:checked~.delivery-right-field {
  display: none;
}

.feature-garantie-radio:checked~.garantie-right-field {
  display: block;
}

option {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: white;

}

/* select {
  margin-right: 80px;
  font-size: 21px;
  line-height: 30px;
  display: flex;
  align-items: center;
  background-color: #32425C;
  color: white;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

.delivery-company li {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.about-company-and-contacts {
  display: flex;
  justify-content: space-between;
  height: 360px;
  align-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.map {
  width: 300px;
  height: 158px;
  padding-bottom: 22px;
}

.modal-map iframe {
  border: none;
}

.map-modal-wrapper {
  display: none;
}

.map-modal {
  position: fixed;
  width: 943px;
  height: 450px;
  display: block;
  left: calc(50% - 468px);
  top: calc(50% - 225px);
  z-index: 11;
}

.map-modal::after {
  content: "";
  width: 946px;
  height: 7px;
  background-color: #EE3643;
  top: -5px;
  left: 0;
  position: absolute;

}

.map-modal-close-button {
  background: transparent;
  position: absolute;
  right: 11px;
  top: 21px;
  border: none;
  cursor: pointer;
}

.map-modal-show {
  display: block;
}

.about-company .text-information {
  width: 460px;
}

.pick-up-items {
  padding-bottom: 32px;
  padding-top: 24px;
}

.heading-black {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.real-shopping {
  padding-top: 24px;
  padding-bottom: 20px;
}

.delivery-company li {
  position: relative;
  padding-bottom: 12px;
  list-style: none;
}

.delivery-company li:last-child {
  padding-bottom: 6px;
}

.delivery-company li::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #EE3643;
  top: 11px;
  left: -37px;
}

.get-lost {
  width: 300px;
}

.footer-first-section {

  font-size: 16px;
  line-height: 18px;
  align-items: center;
  justify-content: flex-start;
  color: #FFFFFF;
  min-height: 192px;

}

.footer-first-section-background {
  background-color: #32425C;
  opacity: 0.95;
}

.footer-logo-and-navigation-row {
  display: flex;
}

.logo-footer {
  width: 220px;
  margin-right: 174px;
}

.navigation-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: 37px;
}

.footer-navigation-element {
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #F1F5F7;
  margin-left: 58px;
}

.footer-panel-logo {
  margin: 0;
  width: 220px;
  display: block;
  height: 68px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  background-color: #EE3643;
  position: relative;
  margin-right: 174px;
  cursor: pointer;
}

.footer-panel-logo:focus {
  background: #BA2732;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-catalog-navigation-element {
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #FFD180;
  margin-left: 58px;
  list-style: none;
}

.first-footer-navigation-element {
  margin-left: 0;
}

.logo-footer {
  position: absolute;
  left: 41px;
  top: 20px;
  height: 23px;
  width: 138px;
}

.footer-second-section-background {
  background-color: #293449;
}

.footer-second-section {

  display: flex;
  padding: 0;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;
  margin: 0 0;
}

.footer-copyright {
  min-width: 226px;
  padding: 0;
  margin-right: 78px;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.footer-socials {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 32px;
}

.social-button {
  width: 44px;
  height: 44px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 1px;
  cursor: pointer;
  background: #212A3A;
  margin-top: 4px;

}

.social-button:hover {
  background: #EE3643;
}

.social-button:focus {
  background: #EE3643;
}

.footer-text-copyright {
  margin-top: 35px;
  margin-bottom: 35px;
}

.footer-feedback {
  color: white;
  margin-top: 35px;
  cursor: pointer;
  font-family: "Cuprum";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
margin-right: -33px;
}

.footer-made-by {
  color: white;
  margin-top: 35px;
  margin-right: 13px;
  font-family: "Cuprum";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
}

.footer-text {
  margin: 0;
  padding: 0;
}

.footer-feedback .footer-text:nth-child(2) {
  color: #FFD180;
}

.footer-made-by .footer-text:nth-child(2) {
  color: #FFD180;
}


.footer-feedback .footer-text:nth-child(2):hover {
  color: #FFD180;
  text-decoration: underline;
}

.footer-made-by .footer-text:nth-child(2):hover {
  color: #FFD180;
  text-decoration: underline;
}

.footer-feedback .footer-text:nth-child(2):focus {
  color: #EE3643;
}

.footer-made-by .htmlacademy-site:focus {
  color: #EE3643;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #F3F7F9;
  padding: 0;
  margin-right: 80px;
  padding-left: 3px;
}

.footer-catalog-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: baseline;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #FFD180;
  list-style: none;
  margin: 0;
  padding-top: 3px;
}

.footer-address-and-catalog-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 22px;

}

.footer-address a {
  color: #F3F7F9;
}

.personal {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #32425C;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin-bottom: 59px;
  margin-top: 0;
  list-style: none;
}

.pagination-item {
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
  width: 38px;
  height: 38px;
  text-align: center;
  margin-left: 10px;
  padding: 10px 15px;
  cursor: pointer;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.pagination-page {
  color: #000000;
}

.current {
  color: #ffffff;
}

.pagination-item:first-child {
  width: 39px;
  height: 39px;
  margin-left: 0;
  background-color: #ee3643;
}

.pagination-item:last-child {
  width: 140px;
  padding: 10px 33px 10px 30px;

}

.pagination-item:hover {
  border: 1px solid #C5C5C5;

}

.pagination-item:focus {
  border: 1px solid #EE3643;

}

.perforators-information-wrapper {
  width: 100%;
  background-color: #F1F5F7;
  height: 197px;
  margin: 0;
  padding: 0;
  padding-top: 65px;
}

.two-words-about-perf {
  margin-bottom: 25px;
  color: #000000;
}


.products-image {
  margin: 29px 53px 38px 40px;
}


.feedback-button {

  width: 460px;
  min-height: 38px;
  background: #EE3643;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 9px 30px;
  cursor: pointer;
}

.feedback-button-area {

  width: 100%;
  min-height: 112px;
  background: #F4F4F4;
  position: absolute;
  margin: 0;
  text-align: center;
  bottom: 0;
  padding: 37px 80px;
  box-sizing: border-box;
  left: 0;
  cursor: pointer;

}

.feedback-area {
  width: 620px;
  min-height: 430px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.75));
  display: flex;
  justify-content: space-between;
  border-top: solid 7px #EE3643;
  margin: 0 auto;
  position: fixed;
  padding: 46px 80px 37px 80px;
  box-sizing: border-box;
  background: #FFFFFF;
  z-index: 1;
  bottom: calc(50% - 215px);
  left: calc(50% - 310px);
}

.modal {
  display: none;
}

.modal-show {
  display: block;

}

.modal-error {
  animation: shake 0.6s;
}

.login-email-icon,
.login-name-icon {
  height: 38px;
  width: 220px;
  padding: 0;
}

.feedback-title {
  font-family: Cuprum, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: block;
  align-items: center;
  text-align: left;
  color: #000000;
}


.feedback-modal-wrapper {
  display: flex;
  justify-content: space-between;
}

.feedback-modal-textarea {
  padding: 0;
  resize: none;
  width: 460px;
  height: 114px;
}


.feedback-modal-close-button {
  background: transparent;
  position: absolute;
  right: 11px;
  top: 21px;
  border: none;
  cursor: pointer;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  height: 170px;
  margin-bottom: 7px;
}

.filter-divide-border-first {
  margin-bottom: 10px;
}

.filter-divide-border-second {
  margin-bottom: 6px;
}

.range-filter {
  width: 220px;
  height: 80px;

}

.filter-item legend {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  width: 220px;
  background-color: #F7F3EC;
  border-radius: 2px;
  margin-bottom: 9px;
  padding-top: 39px;
}

.range-controls .scale {
  height: 2px;
  background: #C5C5C5;
  width: 180px;
  margin-left: 20px;

}

.range-controls .bar {
  width: 65%;
  height: 2px;
  background: #63A63E;
  margin-left: 20px;
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ABABAB;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: 31px;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 48%;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 95px;
  margin: auto;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 5px;
  background: #F7F3EC;
  height: 38px;
}

.price-controls label {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

/* слайдер с главной странице  начало*/

.catalog-divide-perf {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  align-items: center;
  width: 620px;
  margin: 0 auto;
  position: relative;
  grid-row: 2/4;
  grid-column: 1/3;

}

.slider-label-list {
  position: absolute;
  bottom: 36px;
  left: calc(50% - 15px);
  height: 10px;
  width: 30px;
  cursor: pointer;

}

.drill-slide-label::before {
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  left: 0;
  cursor: pointer;
}

.drill-slide-label::after {
  position: absolute;
  content: "";
  background-color: red;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  left: 2px;
  bottom: 2px;
  cursor: pointer;
}

.perf-slide-label::before {
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  right: 0;
  cursor: pointer;
}

.perf-slide-label::after {
  position: absolute;
  content: "";
  background-color: red;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  right: 2px;
  bottom: 2px;
  cursor: pointer;
}

.drill-slide-radio:checked~.slider-label-list .perf-slide-label::after {
  display: none;
}

.perf-slide-radio:checked~.slider-label-list .drill-slide-label::after {
  display: none;
}

.slider-list .red-button {
  margin-top: 113px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 124px;
  height: 36px;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

.slide-title-description {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0;
  padding-top: 5px;
  text-transform: unset;

}

.slider-perf {
  background-image: url("../img/men-with-a-perf.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
  padding-left: 23px;
  padding-top: 24px;
  box-sizing: border-box;
}

.slider-drill {
  background-image: url("../img/men-with-a-drill.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
  padding-left: 23px;
  padding-top: 24px;
}


.perf-slide-radio:checked~.slider-list .slider-drill {
  display: none;
}

.perf-slide-radio:checked~.slider-list .slider-perf {
  display: block;
}

.dlill-slide-radio:checked~.slider-list .slider-drill {
  display: block;
}

.drill-slide-radio:checked~.slider-list .slider-perf {
  display: none;
}



.perf-slide-radio,
.drill-slide-radio {
  visibility: hidden;
  position: absolute;
}

.perf-slide-label-arrow::after {
  content: "";
  background-image: url("../img/arrow-left.png");
  height: 39px;
  width: 21px;
  position: absolute;
  left: -270px;
  bottom: 68px;
  cursor: pointer;
}

.drill-slide-label-arrow::after {
  content: "";
  background-image: url("../img/arrow-right.png");
  height: 39px;
  width: 21px;
  position: absolute;
  right: -270px;
  bottom: 68px;
  cursor: pointer;
}


/* слайдер с главной странице конец */

.basket-buy-icon {
  position: absolute;
  left: 30px;
}

.product-modal-buy {
  display: none;
  position: absolute;
  top: 38px;
  left: 42px;
  width: 136px;
  height: 110px;
  background-color: #ffffff;
  list-style: none;
  margin: 0px;
  padding: 0;
}

.product-modal-buy-buy {
  display: block;
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0px #367315;
  background: #63A63E;
  border-radius: 3px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 15px;
  cursor: pointer;
}

.product-modal-buy-buy:hover {
  background: #5FBB2D;
}

.product-modal-buy-buy:focus {
  background: #518534;
}


.product-modal-buy-in-bookmarks {
  display: block;
  width: 135px;
  height: 38px;
  border: solid 3px #63a63e;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #32425C;
  padding-top: 8px;
  cursor: pointer;
}

.product-modal-buy-in-bookmarks:hover {
  border: 3px solid #32425C;
  border-radius: 3px;
}

.product-modal-buy-in-bookmarks:focus {
  border: 3px solid #32425C;
  border-radius: 3px;
  opacity: 0.5;
}

.main-catalog-list-products:hover .product-modal-buy {
  display: block;
}

.main-catalog-list-products:hover .main-catalog-list-image {
  visibility: hidden;
}

.catalog-list-products:hover .product-modal-buy {

  display: block;
}

.catalog-list-products:hover .main-catalog-list-image {
  visibility: hidden;
}

.item-in-cart {
  width: 620px;
  height: 282px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: solid 7px #EE3643;
  margin: 0 auto;
  position: absolute;
  box-sizing: border-box;
  background: #FFFFFF;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.75));
  left: 306px;
  top: 655px;
  display: none;
  z-index: 15;
}

.item-in-cart-description {
  width: 620px;
  min-height: 170px;
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;

}

.item-in-cart-buttons {
  width: 620px;
  height: 112px;
  background: rgba(241, 241, 241, 1)
}

.modal-catalog-close-button {
  position: absolute;
  background: transparent;
  right: 11px;
  top: 11px;
  border: none;
  cursor: pointer;
}

.icon-item-in-cart {
  position: absolute;
  background: transparent;
  left: 81px;
  top: 48px;
  border: none;

}

.checkout-button,
.continue-shopping-button {
  width: 192px;
  height: 38px;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  margin-top: 37px;
  cursor: pointer;
}

.checkout-button {
  background: #EE3643;
  color: white;
  margin-left: 114px;
  margin-right: 10px;
}


.continue-shopping-button {
  background: #FFFFFF;
}



.catalog-divide-button {
  position: relative;
  color: white;
}

.catalog-divide-button::before {
  content: '';
  position: absolute;
  Width: 135px;
  height: 38px;
  background-color: white;
  opacity: 0.3;
  bottom: 0;
}

.catalog-divide-button:hover::before {
  background-color: #C5C5C5;
}

.catalog-divide-button:focus::before {
  background-color: #000000;
}

/* catalog */
.filter-and-catalog-list-wrapper {
  display: flex;
  justify-content: start;
}



.highest-panel-logo:focus {
  background: #BA2732;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}


@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.filter-checkbox-input-bosh:focus-visible+label {
  color: red;
}
