/* Variables */

:root {
    --Basic-background:  #F1F5F7;
     --basic-white: #ffffff;
     --basic-black:#000000;
     --basic-red: #EE3643;
     --green-:#63A63E;
     --extra-dark-blue:#293449;
     --dark-blue:#32425C;
     --Special-yellow: #FFBF47   ;
     --light-blue:#3BBCE3  ;
     --violet:#DC91D8;
     --light-green: #8ED78F   ;
     --light-grey: #A9A9A9 ;
     --antracit :#32425C    ;
     --social-network-background:#212A3A    ;
    --light-orange-for-headers-in-footer:#FFD180;
    --light-orange-catalog:#F7F3EC;
    --beige: #E5E5E5;
    
    }
    body {
      margin: 0;
        padding: 0;

        font-family: PT Sans, Cuprum, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        color: var(--basic-white);
        text-transform: capitalize;
        background-color: var(--basic-white);
        background-repeat: no-repeat;
        min-height: 100%;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        align-content: start;
      }
.page {
  height:100%;
}
      a {
        text-decoration: none;
      }
      
      img {
        max-width: 100%;
        height: auto;
      }
      .main-header {
        background-color:#F1F5F7;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        align-content: start;
      }

      .main-catalog-grid{
   display: grid;
   grid-template-rows: min-content min-content min-content 1fr min-content;
   align-content: start;
      }
    
      .highest-panel-logo {
        display: grid;
        Width: 220px;
        Height: 47px;
      }

      .highest-panel {background-color: #293449;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
      
      }
      #search-field {
        display: grid;

      }
      .person-fields {
        display: grid;
      }
     .highest-panel-grid{ 
      display: grid;
      background-color: #293449;
      grid-template-columns: 220px 1fr 50%;
      width: 1200px;
      height: 42px;
      margin: 0 auto;
      padding: 0 10px;
  

     }  
     .header-grid {
       display: grid;

     }
      .checkout {background-color: #63A63E; }

      .header-article {
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        display: flex;
        align-items: center;
        color: #EE3643;
      }
      .header-phone-number {
        font-weight: bold;
        font-size: 21px;
        line-height: 30px; 
        display: flex;
        align-items: center;        
        color: #EE3643;
      }
      .header-address {
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;        
        color: #32425C;
      }
      .header-person-blocks {
        font-size: 21px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;        
        color: #000000;
      }
      .header-navigation {
        background: #32425C;
        margin: 0;
        padding: 0;
      }
      .header-navigation-grid {
       display: grid;
      }

      .header-navigation-element{
        font-size: 18px;
        line-height: 24px;       
        display: flex;
        align-items: center;        
        color: #FFFFFF;
      }
      .main-grid{
      display: grid;
      grid-template-rows: min-content min-content 522px min-content;
      align-content:start;
      }
    .bread-crumbs-grid{
    display: grid;
    }

    .filter-grid{
    display: grid;
    }
    .heading-perf-grid {
    display: grid;
    }

    .filter-grid-column{
      display: grid;
    }
    .catalog-grid-column {
      display: grid;
    }
    .catalog-grid-row{
      display: grid;
         grid-template-columns: 220px 1fr 
         padding-left:20px;
    }

    .features-grid { 
      display: grid;
      padding-top: 59px;
      padding-bottom: 59px;
      }
      .popular-sales-grid {
        display: grid;
        padding-bottom: 70px;
      }

      .popular-manufacturer-grid {
     display: grid;
     padding-bottom: 70px;
      }

      .catalog-divide {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;        
        color: #FFFFFF;
      }
      .materials {background-color: #FFBF47;}
      .instrument {background-color: #3BBCE3;}
     .techniks{background-color:#DC91D8 ;}
     .sales {background-color: #8ED78F;}
      .delivery-divide{background-color:#FFBF47 ;}

  .container {
        width: 940px;
        margin: 0 auto;
        padding: 0 10px;
      }

.catalog-divide-button {
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.3;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
}
.catalog-divide-perf {
font-weight: bold;
font-size: 36px;
line-height: 36px;
display: flex;
align-items: center;
text-transform: uppercase;
}

.red-button{
    font-size: 14px;
    line-height: 18px;  
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;    
    color: #FFFFFF;
    background-color: var(--basic-red);
}

.heading {
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;    
    color: #32425C;
}

.popular-sales,.popular-manufacturer {
    background-color: #F9F5F0;
}

.products {
background: #FFFFFF;
border: 1px solid #EAEAEA;
box-sizing: border-box;
font-weight: bold;
font-size: 18px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}
.products:hover {
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

.old-price {
font-weight: bold;
font-size: 17px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: line-through;
text-transform: uppercase;
color: #A9A9A9;
}

.catalog-button {
background-color: #EE3643;
font-weight: bold;
font-size: 17px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.popular-manufacturer ul li {
position: absolute;
width: 220px;
height: 145px;
background: #FFFFFF;
border: 1px solid #EAEAEA;
box-sizing: border-box;
}

.text-information{
    font-size: 13px;
    line-height: 24px;   
    color: #000000;    
}
.Services {
    background-color: #F1F5F7;
    display: grid;
    padding: 0px;
}

option {font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    display: flex;
    align-items: center;    
    color: #32425C;
    }

.delivery-company li {
font-size: 18px;
line-height: 24px;
color: #000000;
    }

.main-footer {
  background: #32425C;
  display: grid;
  grid-template-rows: 68px 1fr 107px;
  align-content: start;
  Width: 1200px;
 }

.footer-features {
    background: #293449;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;    
    color: #FFFFFF;
}
.footer-nav-grid {
  display: grid;
  width: 1200px;
}
.footer-address-grid {
  display: grid;
  width: 1200px;

}

.footer-bottom-grid {
  display: grid;
  width: 1200px;
}
.footer-navigation {
    font-size: 18px;
    line-height: 24px;
   color: #F1F5F7;
}
.footer-address {
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #F3F7F9;
}

.footer-catalog-navigation {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;    
    color: #FFD180;
}
.social-button {background: #212A3A;}

.personal {
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
color: #32425C;
}
.bread-crumbs {
font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;  
  color: #000000;
}

.filter {
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;
color: #000000;
text-transform: uppercase;  
background: #F7F3EC;
}

.price-dot {font-size: 17px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #000000;
background: #F7F3EC;
}

#bosch,#interscol,#hitachi,#dewalt,#makita,#filter-rechargeable, #filter-mains-supply {
font-size: 15px;
line-height: 19px;
text-transform: uppercase;
color: #000000;
}

.perforators-information {
  background: #F1F5F7;
  display: grid;
  width: 1200px;
}